# Configurações do banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

# Configurações de autenticação
SECRET_KEY=sua_chave_secreta
OAUTH_CLIENT_ID=sua_client_id
OAUTH_CLIENT_SECRET=sua_client_secret

# Outras variáveis de ambiente
APP_PORT=3000
